# ---------------------------------------------
# 默认忽略的文件
# ---------------------------------------------
# 忽略ide的文件夹
.idea
.vscode

# 忽略生成的文件
redis-data
mongo-data
/tmp
./app

# 忽略配置文件
/resources/application.prod.yaml

# 忽略任何测试文件
*_test.go


# 其他
.DS_Store

# 日志
/log


/temp
